html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8edf7;
  font-family: "Chakra Petch", sans-serif;
}

.boton {
  display: inline-block;
  font-family: "Chakra Petch", sans-serif;
  border: 1px solid #110038;
  padding: 8px 16px 12px;
  background-color: #F7C9F3;
  -webkit-box-shadow: 2px 2px inset #FFFFFF, 0 0 0px 2px inset #997D97;
          box-shadow: 2px 2px inset #FFFFFF, 0 0 0px 2px inset #997D97;
  height: 15px;
  font-size: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.boton:hover {
  background-color: #997D97;
}

.gradient {
  width: 100%;
  height: 23px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3, #4180F6);
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1px;
  -webkit-box-shadow: 0px 1px #110038;
          box-shadow: 0px 1px #110038;
}

.gradient p {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 5px;
}

.header {
  margin: 35px 90px 15px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .botones {
  position: relative;
  left: 20px;
}

.header .botones .anchor {
  text-decoration: none;
  color: #110038;
}

.header .botones .menu {
  position: absolute;
  left: 133px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 170px;
  height: 102px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .botones .menu .boton {
  width: 150px;
  height: 36px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.header .botones .menu .boton:hover {
  background-color: #FFFFFF;
  color: #B4B4B4;
}

.header .botones .menu .boton .p {
  text-align: center;
}

.header .botones label {
  position: relative;
  right: 20px;
}

.header .botones label a {
  text-decoration: none;
}

.header .botones label a span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.desplegable {
  position: relative;
  right: 19px;
  width: 5px;
}

.desplegable i {
  position: relative;
  right: 2px;
}

.buscador {
  margin: 35px 90px 15px 90px;
  -webkit-box-shadow: 2px 2px 0 0 #FFFFFF inset;
          box-shadow: 2px 2px 0 0 #FFFFFF inset;
}

.buscador .gradient {
  -webkit-box-shadow: 2px 2px 0 0 #FFFFFF inset;
          box-shadow: 2px 2px 0 0 #FFFFFF inset;
}

.buscador .historial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

.buscador .historial .botonHistorial {
  display: inline-block;
  line-height: 32px;
  font-family: "Chakra Petch", sans-serif;
  padding: 1px 16px 12px;
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  height: 15px;
  font-size: 16px;
  margin-right: 16px;
  margin-top: 20px;
  overflow: hidden;
  cursor: pointer;
}

.buscador .historial .botonHistorial:hover {
  background-color: #997D97;
}

.buscador .gris {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #E6E6E6;
  height: 77px;
  -webkit-box-shadow: 2px 0 0 0 #FFFFFF inset, 0 0 2px 0 #997D97 inset;
          box-shadow: 2px 0 0 0 #FFFFFF inset, 0 0 2px 0 #997D97 inset;
}

.buscador .gris .input {
  width: 950px;
  height: 48px;
  font-size: 22px;
  display: block;
}

.buscador .gris .buscar {
  color: #B4B4B4;
  background-color: #E6E6E6;
  font-size: 18px;
  padding: 9px 16px 16px;
}

.buscador .gris .buscar:hover {
  background-color: #997D97;
}

.buscador .gris .dark-botonBuscar {
  background: #B4B4B4;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  color: #8f8f8f;
}

.buscador .dark-gris {
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.gris2 {
  width: 100%;
  height: 160px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.gris2 .elegida {
  display: block;
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  width: 80%;
  height: 36px;
  position: relative;
  left: 24px;
}

.gris2 .elegida p {
  margin: 8px;
}

.resultado, .sugerencias, .tendencias {
  margin: 40px 90px 15px 90px;
}

.resultado .input, .sugerencias .input, .tendencias .input {
  height: 30px;
  font-size: 18px;
  font-family: "Chakra Petch", sans-serif;
  padding: 12px 7px 0px 10px;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.resultado .cuadros, .sugerencias .cuadros, .tendencias .cuadros {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resultado .cuadros img, .sugerencias .cuadros img, .tendencias .cuadros img {
  max-height: 250px;
  margin-bottom: 2px;
}

.resultado .cuadros .cuadro, .sugerencias .cuadros .cuadro, .tendencias .cuadros .cuadro {
  position: relative;
  width: 280px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  height: 100%;
}

.resultado .cuadros .cuadro .gradient, .sugerencias .cuadros .cuadro .gradient, .tendencias .cuadros .cuadro .gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 276px;
  margin-left: 2px;
  overflow: hidden;
  white-space: nowrap;
}

.resultado .cuadros .cuadro .gradient p, .sugerencias .cuadros .cuadro .gradient p, .tendencias .cuadros .cuadro .gradient p {
  text-overflow: ellipsis;
}

.resultado .cuadros .cuadro .gradient img, .sugerencias .cuadros .cuadro .gradient img, .tendencias .cuadros .cuadro .gradient img {
  width: 16px;
  height: 14px;
  margin: 4px;
}

.resultado .cuadros .cuadro img, .sugerencias .cuadros .cuadro img, .tendencias .cuadros .cuadro img {
  max-height: 250px;
  width: 276px;
  margin-left: 2px;
}

.resultado .cuadros .cuadro .btnRandom, .sugerencias .cuadros .cuadro .btnRandom, .tendencias .cuadros .cuadro .btnRandom {
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 35px;
  width: 81px;
  height: 34px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
}

.resultado .cuadros img {
  margin-bottom: 30px;
}

.tendencias .cuadros img {
  margin-bottom: 30px;
}

.dark-body {
  background-color: #110038;
}

.dark-gradient {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.dark-botones {
  background: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.gradient {
  width: 99.4%;
  height: 23px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3, #4180F6);
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2px;
  -webkit-box-shadow: 0px 0px #110038;
          box-shadow: 0px 0px #110038;
}

.gradient p {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 5px;
}

.instrucciones {
  width: 690px;
  height: 430px;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  margin: 40px 300px;
}

.instrucciones .ventanita {
  position: relative;
  left: 25px;
  top: 35px;
}

.instrucciones .texto {
  position: relative;
  top: -20px;
  left: 75px;
}

.instrucciones .botonesComienzo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
}

.instrucciones .botonesComienzo .boton {
  height: 39px;
}

.instrucciones .botonesComienzo .cancelar {
  background: #fff4fd;
}

.instrucciones .botonesComienzo .cancelar .anchorCancelar {
  text-decoration: none;
  color: #110038;
}

.cuadrosVideo {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cuadrosVideo .boton {
  display: inline-block;
  font-family: "Chakra Petch", sans-serif;
  border: 1px solid #110038;
  padding: 8px 16px 12px;
  background-color: #F7C9F3;
  -webkit-box-shadow: 2px 2px inset #FFFFFF, 0 0 0px 2px inset #997D97;
          box-shadow: 2px 2px inset #FFFFFF, 0 0 0px 2px inset #997D97;
  height: 37px;
  font-size: 16px;
  margin-right: 16px;
  cursor: pointer;
}

.cuadrosVideo .boton:hover {
  background-color: #997D97;
}

.cuadrosVideo .verPorCamara {
  height: 430px;
  width: 480px;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuadrosVideo .verPorCamara .cuadroCamara {
  margin: 20px 30px 10px 30px;
  display: block;
  height: 288px;
  width: 352px;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.cuadrosVideo .verPorCamara .botonesCuadroVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: 15px;
  width: 100%;
}

.cuadrosVideo .verPorCamaraBotones {
  height: 430px;
  width: 320px;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo {
  position: relative;
  height: 400px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .botonComenzarGrabacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .botonComenzarGrabacion .boton {
  margin: 0;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .botonComenzarGrabacion #btnStartRecord2 {
  width: 180px;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .botonDetenerGrabacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .botonDetenerGrabacion .boton {
  margin: 0;
  background: #FF6161;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .botonDetenerGrabacion #btnStopRecord2 {
  width: 180px;
}
/*# sourceMappingURL=mis_guifos.css.map */