html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8edf7;
  font-family: "Chakra Petch", sans-serif;
}

.boton {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: 2px 2px inset #FFFFFF, 0 0 0px 2px inset #997D97;
          box-shadow: 2px 2px inset #FFFFFF, 0 0 0px 2px inset #997D97;
  cursor: pointer;
  display: inline-block;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  height: 15px;
  margin-right: 16px;
  padding: 8px 16px 12px;
}

.boton:hover {
  background-color: #997d97;
}

.gradient {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3, #4180F6);
  -webkit-box-shadow: 0px 1px #110038;
          box-shadow: 0px 1px #110038;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 23px;
  margin: 1px;
  width: 100%;
}

.gradient p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  margin-left: 5px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 35px 90px 15px 90px;
}

.header .botones {
  left: 20px;
  position: relative;
}

.header .botones .anchor {
  color: #110038;
  text-decoration: none;
}

.header .botones .menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 102px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  left: 133px;
  position: absolute;
  width: 170px;
}

.header .botones .menu .boton {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f0f0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  width: 150px;
}

.header .botones .menu .boton:hover {
  color: #b4b4b4;
  background-color: #FFFFFF;
}

.header .botones .menu .boton .p {
  text-align: center;
}

.header .botones label {
  position: relative;
  right: 20px;
}

.header .botones label a {
  text-decoration: none;
}

.header .botones label a span {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.desplegable {
  position: relative;
  right: 19px;
  width: 5px;
}

.desplegable i {
  position: relative;
  right: 2px;
}

.buscador {
  -webkit-box-shadow: 2px 2px 0 0 #FFFFFF inset;
          box-shadow: 2px 2px 0 0 #FFFFFF inset;
  margin: 35px 90px 15px 90px;
}

.buscador .gradient {
  -webkit-box-shadow: 2px 2px 0 0 #FFFFFF inset;
          box-shadow: 2px 2px 0 0 #FFFFFF inset;
}

.buscador .historial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}

.buscador .historial .botonHistorial {
  background: #4180f6;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  height: 15px;
  line-height: 32px;
  margin-right: 16px;
  margin-top: 20px;
  overflow: hidden;
  padding: 1px 16px 12px;
}

.buscador .historial .botonHistorial:hover {
  background-color: #997d97;
}

.buscador .gris {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E6E6E6;
  -webkit-box-shadow: 2px 0 0 0 #FFFFFF inset, 0 0 2px 0 #997D97 inset;
          box-shadow: 2px 0 0 0 #FFFFFF inset, 0 0 2px 0 #997D97 inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 77px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.buscador .gris .input {
  display: block;
  font-size: 22px;
  height: 48px;
  width: 950px;
}

.buscador .gris .buscar {
  background-color: #E6E6E6;
  color: #B4B4B4;
  font-size: 18px;
  padding: 9px 16px 16px;
}

.buscador .gris .buscar:hover {
  background-color: #997d97;
}

.buscador .gris .dark-botonBuscar {
  background: #b4b4b4;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  color: #8f8f8f;
}

.buscador .dark-gris {
  background: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
}

.gris2 {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 160px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  width: 100%;
}

.gris2 .elegida {
  background: #f0f0f0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  display: block;
  height: 36px;
  left: 24px;
  position: relative;
  width: 80%;
}

.gris2 .elegida p {
  margin: 8px;
}

.resultado, .sugerencias, .tendencias {
  margin: 40px 90px 15px 90px;
}

.resultado .input, .sugerencias .input, .tendencias .input {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
  height: 30px;
  padding: 12px 7px 0px 10px;
}

.resultado .cuadros, .sugerencias .cuadros, .tendencias .cuadros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.resultado .cuadros img, .sugerencias .cuadros img, .tendencias .cuadros img {
  margin-bottom: 2px;
  max-height: 250px;
}

.resultado .cuadros .cuadro, .sugerencias .cuadros .cuadro, .tendencias .cuadros .cuadro {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin-bottom: 30px;
  position: relative;
  width: 280px;
}

.resultado .cuadros .cuadro .gradient, .sugerencias .cuadros .cuadro .gradient, .tendencias .cuadros .cuadro .gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 2px;
  overflow: hidden;
  white-space: nowrap;
  width: 276px;
}

.resultado .cuadros .cuadro .gradient p, .sugerencias .cuadros .cuadro .gradient p, .tendencias .cuadros .cuadro .gradient p {
  text-overflow: ellipsis;
}

.resultado .cuadros .cuadro .gradient img, .sugerencias .cuadros .cuadro .gradient img, .tendencias .cuadros .cuadro .gradient img {
  height: 14px;
  margin: 4px;
  width: 16px;
}

.resultado .cuadros .cuadro img, .sugerencias .cuadros .cuadro img, .tendencias .cuadros .cuadro img {
  margin-left: 2px;
  max-height: 250px;
  width: 276px;
}

.resultado .cuadros .cuadro .btnRandom, .sugerencias .cuadros .cuadro .btnRandom, .tendencias .cuadros .cuadro .btnRandom {
  background: #4180f6;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  bottom: 15px;
  color: #ffffff;
  cursor: pointer;
  height: 34px;
  left: 15px;
  letter-spacing: 0;
  line-height: 35px;
  position: absolute;
  text-align: center;
  width: 81px;
}

.resultado .cuadros img {
  margin-bottom: 30px;
}

.tendencias .cuadros img {
  margin-bottom: 30px;
}

.dark-body {
  background-color: #110038;
}

.dark-gradient {
  background-image: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.dark-botones {
  background: #ee3efe;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  color: #FFFFFF;
}

.validator {
  text-align: end;
}

.gradient {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3, #4180F6);
  -webkit-box-shadow: 0px 0px #110038;
          box-shadow: 0px 0px #110038;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 23px;
  margin: 2px;
  width: 99.4%;
}

.gradient p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  margin-left: 5px;
}

.volverAPrincipal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
}

.instrucciones, .subiendo, .exito {
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  height: 430px;
  margin: 40px 300px;
  width: 690px;
}

.instrucciones .ventanita, .subiendo .ventanita, .exito .ventanita {
  left: 25px;
  position: relative;
  top: 35px;
}

.instrucciones .texto, .subiendo .texto, .exito .texto {
  left: 75px;
  position: relative;
  top: -20px;
}

.instrucciones .botonesComienzo, .subiendo .botonesComienzo, .exito .botonesComienzo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
}

.instrucciones .botonesComienzo .boton, .subiendo .botonesComienzo .boton, .exito .botonesComienzo .boton {
  height: 39px;
}

.instrucciones .botonesComienzo .cancelar, .subiendo .botonesComienzo .cancelar, .exito .botonesComienzo .cancelar {
  background: #fff4fd;
  height: 17px;
}

.instrucciones .botonesComienzo .cancelar .anchorCancelar, .subiendo .botonesComienzo .cancelar .anchorCancelar, .exito .botonesComienzo .cancelar .anchorCancelar {
  color: #110038;
  text-decoration: none;
}

.cuadrosVideo {
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 100px;
}

.cuadrosVideo .boton {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: 2px 2px inset #FFFFFF, 0 0 0px 2px inset #997D97;
          box-shadow: 2px 2px inset #FFFFFF, 0 0 0px 2px inset #997D97;
  cursor: pointer;
  display: inline-block;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  height: 37px;
  margin-right: 16px;
  padding: 8px 16px 12px;
}

.cuadrosVideo .boton:hover {
  background-color: #997d97;
}

.cuadrosVideo .verPorCamara {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 430px;
  width: 480px;
}

.cuadrosVideo .verPorCamara .cuadroCamara {
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: block;
  height: 288px;
  margin: 20px 30px 10px 30px;
  width: 352px;
}

.cuadrosVideo .verPorCamara .botonesCuadroVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: 15px;
  width: 100%;
}

.cuadrosVideo .verPorCamaraBotones {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 430px;
  width: 320px;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  width: 250px;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .botonComenzarGrabacion {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .botonComenzarGrabacion .boton {
  margin: 0;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .botonComenzarGrabacion #btnStartRecord2 {
  width: 180px;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .timer .timerNumeros {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  padding: 5px 10px 5px 20px;
  width: 90px;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .timer .timerNumeros p {
  display: inline;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .botonDetenerGrabacion {
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .botonDetenerGrabacion .boton {
  background: #ff6161;
  margin: 0;
}

.cuadrosVideo .verPorCamaraBotones .botonesCuadroVideo .botonDetenerGrabacion #btnStopRecord2 {
  width: 180px;
}

.subiendo {
  display: none;
}

.subiendo .subiendoInfo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 35px;
  position: relative;
  top: 15px;
  width: 90%;
}

.subiendo .cancelar {
  left: 12px;
  position: relative;
  top: 35px;
}

.exito {
  display: none;
  background: #e6e6e6;
  -webkit-box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
}

.exito .exitoContenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  top: 25px;
}

.exito .exitoContenido .cuadroCamara {
  height: 220px;
  width: 270px;
}

.exito .exitoContenido .exitoContenidoBotones {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.exito .exitoContenido .exitoContenidoBotones .boton {
  background: #fff4fd;
  height: auto;
  margin: 5px;
  padding-bottom: 8px;
  width: 200px;
}

.exito .enlace {
  background: #fff4fd;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  color: #4180f6;
  margin-left: 35px;
  margin-top: 50px;
  padding: 4px;
  position: relative;
  width: 85%;
}

.exito .exitoBotonListo {
  height: auto;
  left: 553px;
  padding-bottom: 8px;
  position: relative;
  top: 20px;
}

.exito .exitoBotonListo a {
  color: #110038;
  text-decoration: none;
}
/*# sourceMappingURL=mis_guifos.css.map */