@import "./variables";

html {
    scroll-behavior: smooth;
}

body {
    background-color: $colorDia;
    font-family: $fuenteNormal;
}

.boton {
    background-color: $colorRosa;
    border: 1px solid $colorAzul;
    box-shadow: 2px 2px inset $colorBlanco, 0 0 0px 2px inset $colorGrisPardo;
    cursor: pointer;
    display: inline-block;
    font-family: $fuenteNormal;
    font-size: 16px;
    height: 15px;
    margin-right: 16px;
    padding: 8px 16px 12px;
    &:hover {
        background-color: #997d97;
    }
}

.gradient {
    background-image: linear-gradient(270deg, $colorRosa, $colorCeleste);
    box-shadow: 0px 1px $colorAzul;
    color: $colorBlanco;
    display: flex;
    height: 23px;
    margin: 1px;
    width: 100%;
    p {
        align-self: center;
        font-family: $fuenteNormal;
        font-size: 14px;
        margin-left: 5px;
    }
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 35px 90px 15px 90px;
    .botones {
        left: 20px;
        position: relative;
        .anchor {
            color: $colorAzul;
            text-decoration: none;
        }
        .menu {
            align-items: center;
            background: #e6e6e6;
            box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
            display: none;
            flex-direction: column;
            height: 102px;
            justify-content: space-around;
            left: 133px;
            position: absolute;
            width: 170px;
            .boton {
                align-items: center;
                background: #f0f0f0;
                border: 1px solid #808080;
                box-shadow: inset -1px -1px 0 0 #b4b4b4,
                    inset 1px 1px 0 0 #ffffff;
                display: flex;
                height: 36px;
                justify-content: center;
                margin: 0;
                padding: 0;
                width: 150px;
                &:hover {
                    color: #b4b4b4;
                    background-color: $colorBlanco;
                }
                .p {
                    text-align: center;
                }
            }
        }
        label {
            position: relative;
            right: 20px;
            a {
                text-decoration: none;
                span {
                    text-decoration-line: underline;
                }
            }
        }
    }
}
.desplegable {
    position: relative;
    right: 19px;
    width: 5px;
    i {
        position: relative;
        right: 2px;
    }
}
.buscador {
    box-shadow: 2px 2px 0 0 $colorBlanco inset;
    margin: 35px 90px 15px 90px;
    .gradient {
        box-shadow: 2px 2px 0 0 $colorBlanco inset;
    }
    .historial {
        box-shadow: 2px 2px 0 0 #f8edf7 inset;
        display: flex;
        height: 70px;
        .botonHistorial {
            background: #4180f6;
            border: 1px solid #4c2f99;
            box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
            cursor: pointer;
            display: inline-block;
            font-family: $fuenteNormal;
            font-size: 16px;
            height: 15px;
            line-height: 32px;
            margin-right: 16px;
            margin-top: 20px;
            overflow: hidden;
            padding: 1px 16px 12px;
            &:hover {
                background-color: #997d97;
            }
        }
    }
    .gris {
        align-items: center;
        background-color: $colorGrisClaro;
        box-shadow: 2px 0 0 0 $colorBlanco inset,
            0 0 2px 0 $colorGrisPardo inset;
        display: flex;
        height: 77px;
        justify-content: space-evenly;
        width: 100%;
        .input {
            display: block;
            font-size: 22px;
            height: 48px;
            width: 950px;
        }
        .buscar {
            background-color: $colorGrisClaro;
            color: $colorGrisMedio;
            font-size: 18px;
            padding: 9px 16px 16px;
            &:hover {
                background-color: #997d97;
            }
        }
        .dark-botonBuscar {
            background: #b4b4b4;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
            color: #8f8f8f;
        }
    }
    .dark-gris {
        background: #b4b4b4;
        box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff;
    }
}
.gris2 {
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    display: none;
    flex-direction: column;
    height: 160px;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    .elegida {
        background: #f0f0f0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
        display: block;
        height: 36px;
        left: 24px;
        position: relative;
        width: 80%;
        p {
            margin: 8px;
        }
    }
}
%grilla {
    margin: 40px 90px 15px 90px;
    .input {
        background: #fffafe;
        border: 1px solid #e6bbe2;
        box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
        font-family: $fuenteNormal;
        font-size: 18px;
        height: 30px;
        padding: 12px 7px 0px 10px;
    }
    .cuadros {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;
        img {
            margin-bottom: 2px;
            max-height: 250px;
        }
        .cuadro {
            background: #e6e6e6;
            box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-bottom: 30px;
            position: relative;
            width: 280px;
            .gradient {
                display: flex;
                justify-content: space-between;
                margin-left: 2px;
                overflow: hidden;
                white-space: nowrap;
                width: 276px;
                p {
                    text-overflow: ellipsis;
                }
                img {
                    height: 14px;
                    margin: 4px;
                    width: 16px;
                }
            }
            img {
                margin-left: 2px;
                max-height: 250px;
                width: 276px;
            }
            .btnRandom {
                background: #4180f6;
                border: 1px solid #4c2f99;
                box-shadow: inset -2px -2px 0 0 #284f99,
                    inset 2px 2px 0 0 #ffffff;
                bottom: 15px;
                color: #ffffff;
                cursor: pointer;
                height: 34px;
                left: 15px;
                letter-spacing: 0;
                line-height: 35px;
                position: absolute;
                text-align: center;
                width: 81px;
            }
        }
    }
}
.resultado {
    @extend %grilla;
    .cuadros {
        img {
            margin-bottom: 30px;
        }
    }
}
.sugerencias {
    @extend %grilla;
}
.tendencias {
    @extend %grilla;
    .cuadros {
        img {
            margin-bottom: 30px;
        }
    }
}
.dark-body {
    background-color: #110038;
}
.dark-gradient {
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    box-shadow: 0 1px 0 0 #110038;
}
.dark-botones {
    background: #ee3efe;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    color: $colorBlanco;
}
.validator{
    text-align: end;
}